<launch>
    <include file="$(find competition2)/launch/start_world.launch"/>
    <include file="$(find competition2)/launch/start_robot.launch"/>
    <include file="$(find competition2)/launch/competition2_server.launch"/>
    <include file="$(find my_turtlebot_path_planning)/launch/move_base_node.launch"/>
    <node  pkg="competition2" type="path_planning_server.py" name="path_planning_server" output="screen"/>
    <node  pkg="competition2" type="turtobot_odom_server.py" name="turtobot_odom_server" output="screen"/>
    <!-- <node  pkg="competition2" type="main.py" name="main" output="screen"/> -->
    
    
</launch>